@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf);
}

*
{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(107, 198, 122);
}

header{
    background-image: linear-gradient(green,rgb(0, 75, 0));
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: white;
    margin: 0px 15px 0px 10px;
    padding: 10px;
    font-size: 13px;
}

a:hover {
    background-color: rgba(0, 128, 0, 0.407);
    padding: 10px;
    transition-duration: 1s;
}

nav{
    text-align: left;
    padding: 10px;
}

main{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
} 
 
div.video {
    background-color: rgb(4, 70, 4);
    margin: 10px -70px 10px -70px;
    padding: 121px;
    padding-bottom: 50%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

section{
    margin: 50px;
}

#historia {
    font-size: 25px;
    font-family: 'idroid';
    color: green;
    margin-top: 0px;
}

#versao {
    background-color: rgb(133, 220, 160);
    font-family: 'idroid';
    color: green;
    margin-top: 20px;
}

#mascote {
    background-color: rgb(133, 220, 160);
    font-family: 'idroid';
    color: green;
    margin-top: 20px;
}

.test1 {
    padding: 20px;
}

img {
width: 100%;
}

footer {
    background-color: green;
    text-align: center;
    height: 30px;
    color: white;
}

main img.pqn {
    width: 50%;
    display: block;
    margin: auto;
}